<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KEE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KEE.Properties.Settings>
            <setting name="Color_BG" serializeAs="String">
                <value>42, 47, 56</value>
            </setting>
            <setting name="Button_BG" serializeAs="String">
                <value>30, 34, 40</value>
            </setting>
            <setting name="Color_FG" serializeAs="String">
                <value>179, 179, 179</value>
            </setting>
            <setting name="Color_NonText" serializeAs="String">
                <value>116, 129, 152</value>
            </setting>
            <setting name="TextBox_BG" serializeAs="String">
                <value>56, 64, 75</value>
            </setting>
            <setting name="Color_Link" serializeAs="String">
                <value>166, 212, 255</value>
            </setting>
            <setting name="Color_VLink" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Error" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Copy" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="AOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Paging" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Outline" serializeAs="String">
                <value>179, 179, 179</value>
            </setting>
            <setting name="Quick_Save" serializeAs="String">
                <value />
            </setting>
            <setting name="Cache" serializeAs="String">
                <value />
            </setting>
            <setting name="Option" serializeAs="String">
                <value>1</value>
            </setting>
        </KEE.Properties.Settings>
    </userSettings>
</configuration>