<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KEE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KEE.Properties.Settings>
            <setting name="Color_BG" serializeAs="String">
                <value />
            </setting>
            <setting name="Button_BG" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_FG" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_NonText" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBox_BG" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_Link" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_VLink" serializeAs="String">
                <value />
            </setting>
            <setting name="Error" serializeAs="String">
                <value />
            </setting>
            <setting name="Copy" serializeAs="String">
                <value />
            </setting>
        </KEE.Properties.Settings>
    </userSettings>
</configuration>