<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KEE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <KEE.Properties.Settings>
      <setting name="Color_BG" serializeAs="String">
        <value>42, 47, 56</value>
      </setting>
      <setting name="Button_BG" serializeAs="String">
        <value>30, 34, 40</value>
      </setting>
      <setting name="Color_FG" serializeAs="String">
        <value>179, 179, 179</value>
      </setting>
      <setting name="Color_NonText" serializeAs="String">
        <value>116, 129, 152</value>
      </setting>
      <setting name="TextBox_BG" serializeAs="String">
        <value>56, 64, 75</value>
      </setting>
      <setting name="Color_Link" serializeAs="String">
        <value>166, 212, 255</value>
      </setting>
      <setting name="Color_VLink" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="Error" serializeAs="String">
        <value>DarkRed</value>
      </setting>
      <setting name="Copy" serializeAs="String">
        <value>LightGreen</value>
      </setting>
      <setting name="AOT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Paging" serializeAs="String">
        <value>50</value>
      </setting>
    </KEE.Properties.Settings>
  </userSettings>
</configuration>